<a href="https://colab.research.google.com/github/land0nevans/MyFirstRepo/blob/main/Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Final challenge

##### First, I import pandas to read the csv file.

In [ ]:
import pandas as pd

#####I had to mount my google drive to import the data, this code was inserted by Colab through the 'mount drive' icon in the folder tab.
**(Out of everything in this project, this is the only notebook where I worked in the cloud, as I prefer to run software locally where I can. This is a demonstration that I can work in a cloud environment when requested.)**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#####I found the path in my google drive for my world_cities.csv file and imported this as a dataframe named 'df'.

In [ ]:
df = pd.read_csv('drive/MyDrive/population_data/data/world_cities.csv')

#####I created a new 'pop_M' column by using df[] = , placing the name 'pop_M' in the square brackets and the conversion on the other side of the equals, which was dividing the raw population number by 1 million.

In [ ]:
df["pop_M"] = df["pop"]/1000000

I then removed the 'pop' column from the entire dataframe, by reassigning df = df.drop(columns=["pop"]) (this was easily explained in the pandas documentation, using the 'columns' parameter.)

In [ ]:
df=df.drop(columns=["pop"])

KeyError: "['pop'] not found in axis"

My name begins with an 'L', so I filtered the original dataframe, keeping only rows where the 'city' starts with "L".
I found df.str.startswith() in a stack overflow reply, and I was able to use df["city"] to only apply the rule to the 'city' column. To check this worked correctly, I created a new variable 'L_cities' and headed this.
#####( https://stackoverflow.com/questions/17957890/pandas-select-from-dataframe-using-startswith )

In [ ]:
L_cities = df[df["city"].str.startswith("L")]
L_cities.head(6)

                   city country    lat    lon  capital     pop_M
19596           L'Aigle  France  48.77   0.63        0  0.009218
19597          L'Alcora   Spain  40.07  -0.20        0  0.010418
19598         L'Alcudia   Spain  39.21  -0.51        0  0.010631
19599    L'Alfas del Pi   Spain  38.59  -0.11        0  0.014444
19600  L'Ametlla de Mar   Spain  40.90   0.80        0  0.006582
19601    L'Annonciation  Canada  46.40 -74.87        0  0.002024

######I created a new variable to print the city at the top of the list, by using iloc[0] to select the first row. I printed this new variable to check this worked correctly.

In [ ]:
first_city= L_cities.iloc[0]
print(first_city)

city        L'Aigle
country      France
lat           48.77
lon            0.63
capital           0
pop_M      0.009218
Name: 19596, dtype: object

#####Then, I created new variable 'france_cities' by filtering my dataframe, only selecting data where the original 'country' column is equal (==) to the 'country' value in my first_city variable, which is France.

In [ ]:
france_cities = df[df["country"] == first_city["country"]]

Then, for the final output i created new variable 'top5' and sorted my new 'france_cities' dataframe using 'DataFrame.nlargest(n, columns)' from the pandas documentation, with n being the number of rows and columns being the label "pop_M".

In [ ]:
top5 = france_cities.nlargest(5, "pop_M")

For my final output, I printed a message using my created variables.

In [ ]:
print("My name begins with L, so i selected city:")
print(first_city)
print()
print("This city is in France, and the 5 largest countries in France are:")
print(top5)

My name begins with L, so i selected city:
city        L'Aigle
country      France
lat           48.77
lon            0.63
capital           0
pop_M      0.009218
Name: 19596, dtype: object

This city is in France, and the 5 largest countries in France are:
            city country    lat   lon  capital     pop_M
28246      Paris  France  48.86  2.34        1  2.141839
22896  Marseille  France  43.31  5.37        0  0.793352
21820       Lyon  France  45.76  4.83        0  0.475995
38692   Toulouse  France  43.62  1.45        0  0.439228
25989       Nice  France  43.70  7.27        0  0.337891